h2{
    font-weight: bold;
}

.mineirareconstruir{
    background-color: #0000FF;
    color: #FFFFFF;
}

.encanador{
    background-color: #FF0000;
    color: #000000;
}

.protagonistaverde{
    background-color: #000000;
    color: #008000;
}